version: "3.8"

services:
  db:
    build:
      context: .
      dockerfile: DockerfilePG
    container_name: postgres-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data


  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
    depends_on:
      - db
    

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend-node
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=monuser
      - DB_PASSWORD=monpassword
      - DB_NAME=madatabase
    depends_on:
      - db
    volumes:
      - .:/backend-A
      - /backend-A/node_modules

volumes:
  pgdata: